.header {
    width: 100%;

    .upper-header {
        width: 100%;
        color: #ffffff;
        background-color: #131921;
        display: flex;
        align-items: center;
        justify-content: center;

        .upper-header-left {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: start;

            .logo {
                display: flex;
                align-items: center;
                justify-content: start;

                img {
                    width: 130px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                }

                span {
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .location {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                box-sizing: border-box;
                padding: 10px;

                .address {
                    font-size: 13px;
                }

                .update-location {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

        }

        .upper-header-mid {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            border-radius: 10px;

            .category {
                width: 25%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #e1dddd;
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
            }

            input {
                width: 70%;
                height: 40px;
            }

            .fa-solid {
                width: 5%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #febd69;
                border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;
            }
        }

        .upper-header-right {
            width: 20%;
            box-sizing: border-box;
            padding: 0px 10px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;

            .span {
                box-sizing: border-box;
                padding: 10px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                .fa-cart-shopping{
                    font-size: 22px;
                }

            }

            .return {
                font-size: 12px;
                display: flex;
flex-direction: column;
                // word-wrap: ;
                .order {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
}
.navbar-dark{
    padding: 0%;
.lower-header{
    background-color: #232f3e;
    
}
}



// <<<<<<<<<<<<<<footer>>>>>>>>>>>>
.footer {
    font-size: 14px;
    background-color: #232f3e; // Footer background color
    color: #fff; // Text color
    padding: 20px; // Padding for content inside the footer
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    
    .container {
      max-width: 960px; // Maximum width of the footer content
      margin: 0 auto; // Center-align the content horizontally
      display: flex;
      justify-content: space-between; // Distribute items evenly along the main axis
      align-items: center; // Align items vertically
    }
  
    p {
      margin: 0; // Remove default margin for paragraphs
    }
  
    nav ul {
      list-style-type: none; // Remove default bullet points for the list
      padding: 0; // Remove default padding for the list
      display: flex;
      margin: 0px;
    }
  
    nav ul li {
      margin-right: 20px; // Add spacing between list items
    }
  
    nav ul li:last-child {
      margin-right: 0; // Remove margin from the last list item to avoid extra spacing
    }
  
    a {
      color: #fff; // Link color
      text-decoration: none; // Remove underline from links
      &:hover {
        text-decoration: underline; // Add underline on hover
      }
    }
  }
  